*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  cursor: pointer;
}

main{
  margin-right: 50px;
  margin-top: 35px;
  text-align: right;
}

main button{
  background-color: transparent;
  padding: 5px 10px;
}

img{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.8;
}

h1{
  padding-top: 50px;
  color: white;
  text-align: center;
}

#wiz{
  position: absolute;
  transform: translate3d(50px, 50px, 0);
  transition: transform 1.3s ease-in-out;
}

.hatMovement{
  animation: hat 0.3s alternate infinite;
  transform-origin: center;
}

@keyframes hat{
  to{
    transform: scale(-1, 1);
  }
}

.dressMovement{
  animation: dress 0.3s alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes dress{
  from{
    transform: rotateZ(-20deg);
  }
  to{
    transform: rotateZ(20deg);
  }
}


#anim_txt{
  stroke-dasharray: 300px;
  stroke-dashoffset: 310px;
  animation: txtAppear 5s ease forwards;
}

@keyframes txtAppear{
  to{
    stroke-dashoffset: 0px;
  }
}